<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.bootcss.com/jquery-mobile/1.4.5/jquery.mobile.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/jquery/2.1.0/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery-mobile/1.4.5/jquery.mobile.min.js"></script>
  <title>登录成功</title>

</head>

<body>
  <div data-role='page' id="pageone">

    <div data-role="header" data-position="fixed">
      <!-- <a href="/" data-role="button" data-icon="back"  data-theme="a" data-inline="true">退出</a> -->
      <h1>WeChat(<span><%= nic %></span>)</h1></div>
      <div class="lianxi">


      <div data-role="content" >
        <ul id="uls2" data-role="listview" data-inset="true">
       <% info.forEach(function(info){ %>
          <li>
            <a href="#">
            <!-- <img src="#"> -->
            <h4><%= info.nick %></h4>
            </a>
          </li>
        <% }); %>
        </ul>
      </div>
      <div data-role="footer" data-position="fixed">
        <div data-role="navbar" data-iconpos="left">
          <ul>

            <li><a href="#" data-icon="star" class="ui-btn-active">联系人</a></li>
            <li><a href="/abc"  data-icon="home">群聊</a></li>
          </ul>
        </div>
      </div>
      </div>



      <script type="text/javascript">

      </script>
  </div>






</body>

</html>
